#search, #namn, #usertext,#rubrik, #postbtn {
  width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  top: 10%;
  left: 2%;
}
#search {
  position: absolute;
  left: 74%;
  top: 12%;
}
