#search, #namn, #usertext,#rubrik, #postbtn {
  width: 300px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  top: 10%;
  left: %;
}
#search {
  position: absolute;
  left: 76%;
  top: 4%;
}
